@for(item of productList; track item; let i = $index){
    <div class="card">
        <div class="project-info">
            <div class="col-xl-3 my-2 col-lg-4 col-sm-6">
                <p class="text-primary mb-1">{{item.id}}</p>
                <h5 class="title font-w600 mb-2"><a routerLink="/admin/post-details" class="text-black">{{item.product_name}}</a></h5>
                <div class="text-dark"><i class="far fa-calendar me-3" aria-hidden="true"></i>{{item.date}}</div>
            </div>
            <div class="col-xl-2 my-2 col-lg-4 col-sm-6">
                <div class="d-flex align-items-center">
                    <div class="project-media">
                        @if(item.client_image){
                            <img src="{{item.client_image}}" alt="">
                        } @else {
                            <span class="img-placeholder bgl-danger text-danger">{{item.client_name.substr(0,1)}}</span>
                        }
                    </div>
                    <div class="ms-2">
                        <span>Client</span>
                        <h5 class="mb-0 pt-1 font-w50 text-black">{{item.client_name}}</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 my-2 col-lg-4 col-sm-6">
                <div class="d-flex align-items-center">
                    <div class="project-media">
                        @if(item.person_image){
                            <img src="{{item.person_image}}" alt="">
                        } @else {
                            <span class="img-placeholder bgl-danger text-danger">{{item.person_name.substr(0,1)}}</span>
                        }
                    </div>
                    <div class="ms-2">
                        <span>Person in charge</span>
                        <h5 class="mb-0 pt-1 font-w500 text-black">{{item.person_name}}</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 my-2 col-lg-6 col-sm-6">
                <div class="d-flex align-items-center">
                    <div class="power-ic">
                        <i class="fa fa-bolt" aria-hidden="true"></i>
                    </div>
                    <div class="ms-2">
                        <span>Deadline</span>
                        <h5 class="mb-0 pt-1 font-w500 text-black">{{item.deadline_date}}</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 my-2 col-lg-6 col-sm-6">
                <div class="d-flex project-status align-items-center">
                    @if(item.status == 'Pending'){
                        <span class="btn bgl-warning text-warning status-btn me-3">{{item.status}}</span>
                    } @else if(item.status == 'Progress') {
                        <span class="btn bgl-info text-info status-btn me-3">{{item.status}}</span>
                    } @else {
                        <span class="btn bgl-danger text-danger status-btn me-3">{{item.status}}</span>
                    }
                    <div class="dropdown drop-no-arrow tbl-orders-style dropdown-no-icon" ngbDropdown>
                        <a href="javascript:void(0);" ngbDropdownToggle>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12C11 12.5523 11.4477 13 12 13Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M12 6C12.5523 6 13 5.55228 13 5C13 4.44772 12.5523 4 12 4C11.4477 4 11 4.44772 11 5C11 5.55228 11.4477 6 12 6Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M12 20C12.5523 20 13 19.5523 13 19C13 18.4477 12.5523 18 12 18C11.4477 18 11 18.4477 11 19C11 19.5523 11.4477 20 12 20Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                            <a class="dropdown-item" href="javascript:void(0);">Edit</a>
                            <a class="dropdown-item text-danger" href="javascript:void(0);" (click)="deleteProject(i)">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>      
}
<nav class="mt-5">
    <ul class="pagination pagination-gutter pagination-primary no-bg">
        <li class="page-item page-indicator">
            <a class="page-link" href="javascript:void(0)">
                <i class="la la-angle-left"></i></a>
        </li>
        <li class="page-item "><a class="page-link" href="javascript:void(0)">1</a>
        </li>
        <li class="page-item active"><a class="page-link" href="javascript:void(0)">2</a></li>
        <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
        <li class="page-item"><a class="page-link" href="javascript:void(0)">4</a></li>
        <li class="page-item page-indicator">
            <a class="page-link" href="javascript:void(0)">
                <i class="la la-angle-right"></i></a>
        </li>
    </ul>
</nav>